.card{
    margin: 6px 10px 0px 10px;
    
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.text-green{
    color: greenyellow;
}

.text-red{
    color: red;
}

p{
    display: inline;
    margin-right: 5px;
}

button{
    margin-top: 20px;
}